/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Redefining bootstrap styles */
.container .jumbotron,
.nav-pills > li > a,
.btn, .form-control, pre {
    border-radius: 0;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
    background: #FFF;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    margin-top: 10px;
}

/* Supporting marketing content */
.marketing {
    margin: 20px 0 50px;
}

.marketing .col {
    padding-left: 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/* Pages styles */
.slideup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    padding: 30px;
}

.slideup.ng-enter,
.slideup.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.slideup.ng-enter {
    top: 100%;
}

.slideup.ng-enter-active {
    top: 0;
}

.slideup.ng-leave {
    top: 0;
}

.slideup.ng-leave-active {
    top: -100%;
}

/* Addthis */
.addthis_toolbox > a {
    float: none !important;
    display: inline-block;
    vertical-align: top;
}

.addthis_toolbox .addthis_counter {
    width: 32px !important;
}

.trans-background {
    background: rgba(0, 0, 0, 0.2);
    border: 0px;
    color: #FFF;
    position: relative;
    padding: 10px 10px 10px 15px;
}

span.none-background, .btn.none-background {
    background: none;
    border: none;
}

#user-detail .panel-heading .btn{
position: relative;
    top:-6px;
}

.space-6 {
    height: 6px;
}
.space-8{
    height: 8px;
}
.space-10{
    height: 10px;
}
.space-12{
    height: 12px;
}
.space-14{
    height: 14px;
}
.space-16 {
    height: 16px;
}

.space-18 {
    height: 18px;
}

.space-20 {
    height: 20px;
}

.space-22 {
    height: 22px;
}

.space-24 {
    height: 24px;
}

.form-horizontal .control-label{
    padding-top: 7px;
}

.cursor-pointer{
    cursor: pointer;
}

.panel-header-title{
    font-weight: bold;
}

.round-border{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}