<div class="widget-body" ng-controller="BoardCtrl" id="BoardCtrl">
    <div class="row">
        <div class="col-md-6">
            <button type="button" ng-click="go('/board');" class="btn btn-default btn-active"><i class="fa fa-th"></i> Home</button>
            <button type="button" ng-click="go('/user');" class="btn btn-default"><i class="fa fa-user"></i> User settings</button>
            <button type="button" ng-click="go('/localstorage');" class="btn btn-default"><i class="fa fa-database"></i>
                Local storage
            </button>
        </div>
        <div class="col-md-6 right-align">
            <div class="pull-right control-group">
                <button type="button" ng-click="init();" class="btn btn-default"><i class="fa fa-refresh"></i> Refresh board</button>
                <button type="button" ng-click="showBoard();" class="btn btn-default" ng-class="boardOn ? 'btn-active' : ''"><i class="fa fa-columns"></i> Show board
                </button>
                <button type="button" ng-hide="settingsOn" ng-click="hideBoard();showSettings();" class="btn btn-default"><i class="fa fa-cogs"></i> Column settings
                </button>
                <button type="button" ng-show="settingsOn" ng-click="showBoard();hideSettings();" class="btn btn-default btn-active"><i class="fa fa-cogs"></i> Column settings
                </button>
                <button type="button" ng-hide="newIssuesOn" ng-click="showNewIssues();" class="btn btn-default"><i class="fa fa-tags"></i> New issues
                </button>
                <button type="button" ng-show="newIssuesOn" ng-click="hideNewIssues();" class="btn btn-default btn-active"><i class="fa fa-tags"></i> New issues
                </button>
                <button type="button" ng-click="addMessage();" class="btn btn-default hidden"><i class="fa fa-envelope"></i>  addMessage
                </button>
            </div>
        </div>
    </div>

    <div class="space-24" ng-if="false"></div>
    <div class="row" ng-if="false">
        <canvas id="line" class="chart chart-line" chart-data="timeline.all"
                chart-labels="timeline.labels" chart-legend="true" chart-series="timeline.series"
                chart-click="onClick" >
        </canvas>
    </div>

    <div class="space-24" ng-if="newIssuesOn"></div>
    <div class="row panel padding-10" ng-if="newIssuesOn">
        <div class="col-xs-12">
            <div isteven-multi-select
                 input-model="$parent.repos"
                 output-model="newIssueRepo"
                 button-label="name"
                 orientation="vertical"
                 item-label="name"
                 tick-property="selected"
                 translation="localLangRepo"
                 on-close="saveNewIssueRepo(newIssueRepo)"
                 selection-mode="single">
            </div>
            <div class="space-12"></div>
            <div ng-repeat="repo in newIssues track by $index" class="col-xs-12 panel padding-10">
                <div class="row padding-10">
                    <div class="col-xs-12">
                        <h4><span class="pull-left">New issues for repsoitory: </span> <span ng-bind="repo.repo.name" class="pull-left"></span></h4>
                    </div>
                </div>
                <div class="row padding-5 panel no-margin">
                    <div class="col-xs-6 pull-left">
                        <button ng-click="addNewIssue($index)" class="btn btn-default"><i class="fa fa-plus-square"></i> Add new issue</button>
                    </div>
                    <div class="col-xs-6 pull-right">
                        <button ng-click="postNewIssues($index)" class="btn btn-default pull-right"><i class="fa fa-cloud-upload"></i> Push issues to Github</button>
                    </div>
                </div>
                <div class="space-12"></div>
                <div class="row padding-10" ng-repeat="newIssue in repo.issues track by $index">
                    <div class="col-xs-2"><input ng-model="newIssue.title" name="title" ng-required="true" ng-minlength="1" placeholder="Titel"></input></div>
                    <div class="col-xs-2"><textarea ng-model="newIssue.body" name="body" ng-required="true" ng-minlength="1" placeholder="Body"></textarea></div>
                    <div class="col-xs-2">
                        <div isteven-multi-select
                             input-model="repo.assignees"
                             output-model="newIssue.assignee"
                             button-label="login"
                             orientation="vertical"
                             item-label="login"
                             tick-property="selected"
                             translation="localLangRepo"
                             selection-mode="single"
                             class="">
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div isteven-multi-select
                             input-model="repo.milestones"
                             output-model="newIssue.milestone"
                             button-label="title"
                             orientation="vertical"
                             item-label="title"
                             tick-property="selected"
                             translation="localLangRepo"
                             selection-mode="single">
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div isteven-multi-select
                             input-model="repo.labels"
                             output-model="newIssue.labels"
                             button-label="name"
                             orientation="vertical"
                             item-label="name"
                             tick-property="selected"
                             translation="localLangRepo">
                        </div>
                    </div>
                    <div class="col-xs-2"><button ng-click="deleteNewIssue($parent.$index, $index)" class="btn btn-default"><i class="fa fa-trash-o"></i> Delete</button></div>
                </div>
                <div class="space-12"></div>
                <div class="row padding-5 panel no-margin">
                    <div class="col-xs-6 pull-left">
                        <button ng-click="addNewIssue($index)" class="btn btn-default"><i class="fa fa-plus-square"></i> Add new Issue</button>
                    </div>
                    <div class="col-xs-6 pull-right">
                        <button ng-click="postNewIssues($index)" class="btn btn-default pull-right"><i class="fa fa-cloud-upload"></i> Push issues to Github</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="space-24" ng-if="settingsOn"></div>
    <div class="row" ng-if="settingsOn">
        <br>
        <div class="col-xs-3" ng-repeat="column in boards[0].columns track by $index">
            <div isteven-multi-select
                 input-model="availableTags[0][$index]"
                 output-model="column.selectedTags"
                 button-label=""
                 button-pre-label="Label-Filter"
                 orientation="vertical"
                 item-label="icon name maker"
                 tick-property="selected"
                 max-labels="0"
                 translation="localLang"
                 group-property="msGroup"
                 on-item-click="saveBoards(0, $index)"
                 directive-id="$index"
                    >
            </div>
        </div>
    </div>
    <div class="row" ng-if="settingsOn">
        <div class="multi-multi-sortable col-xs-3" ng-repeat="column in boards[0].columns track by $index">
            <div class="row" style="padding: 5px;">
                <div class="sortable-container block head bg-dot20 no-padding col-xs-12">
                    <div class="panel-heading trans-background">
                        <span class="panel-header-title">[[column.name]]</span>
                    </div>
                    <div class="side pull-right">
                        <ul class="buttons">
                            <li><a href="#"><span class="icon-cogs"></span></a></li>
                        </ul>
                    </div>
                    <div ng-repeat="item in column.tags"
                         class="multi panel bs-callout bs-callout-warning card"
                         style="border-color: #[[item.color]];">
                        [[item.name]] [[item.repo]]
                        <select name="singleSelect" ng-model="item.state" ng-change="saveBoards(0, $index)"
                                placeholder="Ticket Status...">
                            <optgroup label="Github States">
                                <option value="open" ng-selected="item.state == 'open'">Open</option>
                                <option value="closed" ng-selected="item.state == 'closed'">Closed</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Columns START -->
    <div class="space-24" ng-if="boardOn"></div>
    <div ng-if="boardOn" style="display:flex; flex-flow: row wrap;align-items: center;">
        <div ng-repeat="assignee in assignees" class="filter-select panel bs-callout card" ng-if="assignee.id != 'all'" style="position:relative;">
            <div style="display:flex; flex-flow: row wrap;align-items: center;">
                <div style="-webkit-flex: 1;flex: 0 0 80px;">
                    <a href="[[assignee.html_url]]" target="_blank"><img src="[[assignee.avatar_url]]" ng-show="assignee" class="user-photo" title="[[assignee.login]]" alt="[[assignee.login]]"/></a>
                </div>
                <div style="-webkit-flex: 1;flex: 1;">
                    <a href="[[assignee.html_url]]" target="_blank"><b>[[assignee.login]]</b></a>
                </div>
            </div>
            <br>
            <div style="display:flex; flex-flow: row wrap;align-items: center;">
                <div style="-webkit-flex: 1;flex: 0 0 80px;">
                    <i class="fa fa-clock-o"></i> [[assignee.budgetTime | minutesToHours]]<br>
                    <i class="fa fa-thumbs-o-up"></i> [[assignee.usedTime | minutesToHours]]<br>
                </div>
                <div style="-webkit-flex: 1;flex: 1;">
                    <i class="fa fa-flag-checkered"></i> [[assignee.openTime | minutesToHours]]<br>
                    <i class="fa fa-ticket"></i> [[assignee.openTickets]]&nbsp;&nbsp;(<i class="fa fa-clock-o"></i> [[assignee.openTicketsWithBudget]] / <i class="fa fa-ban"></i> [[assignee.openTicketsWithoutBudget]])
                </div>

                <div style="-webkit-flex: 1;flex: 1; max-width: 150px;max-height: 150px;">
                    <canvas id="doughnut[[assignee.id]]" class="chart chart-doughnut"
                            chart-data="assignee.openTicketsPerBoardAndColumn[0]" chart-labels="assignee.boardColumnNames[0]" chart-colours="assignee.boardColumnColors[0]"
                            chart-options='chart.doughnut'>
                    </canvas>
                    <span ng-bind-html="assignee | differenceToPercent" style="position: absolute;top: 62%;right: 19%;"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="space-24" ng-if="boardOn"></div>
    <div ng-hide="false" ng-if="boardOn">
        <div class="row">
            <div class="col-xs-3 pull-right" style="display:flex; flex-flow: row wrap;align-items: center;">
                <span class="filter">Filtern nach:</span>
                <span class="filter-select">
                    <select ng-model="$parent.assignee" ng-options="item.login for item in $parent.assignees"
                            ng-change="refreshTickets($parent.assignee)">
                    </select>
                </span>
            </div>
        </div>
        <div ng-repeat="board in $parent.boards track by $index" ng-init="boardIndex = $index" class="row">
            <div class="multi-multi-sortable col-xs-3"
                 ng-repeat="column in $parent.boards[$index].columns track by $index">
                <div class="row" style="padding: 5px;">
                    <div class="panel-heading trans-background col-xs-12"
                         style="border-left:5px [[column.color]] solid;">
                            <span class="panel-header-title">
                                <span ng-bind-html="column | boardColumnTitle" class="pull-left title"></span>
                                <span ng-bind-html="column | boardColumnStatistic" class="pull-right statistic"></span>
                                <span ng-bind="column.openTime" class="pull-right statistic"></span>
                            </span>
                    </div>
                    <div class="sortable-container col-xs-12 block head bg-dot20 panel panel-default no-padding"
                         sv-root="multiple_{{$odd}}"
                         sv-part="column.issues"
                         sv-on-sort="sort($item, $partFrom, $partTo, $indexFrom, $indexTo, $index,$parent.boardIndex)"
                         sv-on-stop="end($item, $part, $index)">
                        <div class="side pull-right">
                            <ul class="buttons">
                                <li><a href="#"><span class="icon-cogs"></span></a></li>
                            </ul>
                        </div>
                        <div ng-repeat="item in column.issues" sv-element
                             class="multi panel bs-callout bs-callout-warning card" ng-style="{ 'border-color': item.hint.color }">
                            <div class="row">
                                <div class="col-xs-9">
                                    <h1>
                                        [[item.title]]
                                    </h1>
                                    <p><br>
                                        <i class="fa fa-github"></i> [[getRepoName(item)]]<br>
                                        <a href="[[item.milestone.html_url]]" title="Meilenstein öffnen" alt="Meilenstein öffnen"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;[[item.milestone.title]]</a><br>
                                        <a href="[[item.html_url]]" target="_blank" class="transicion" title="[[item.comments]] Kommentare" alt="[[issue.comments]] Kommentare"><i class="fa fa-comments-o"></i>[[item.comments]]</a>
                                        &nbsp;&nbsp;<i class="fa fa-clock-o"></i> [[getBudgetTime(item)]]
                                        &nbsp;&nbsp;<i class="fa fa-thumbs-o-up"></i> [[getUsedTime(item)]]
                                    </p>
                                    <p>
                                            <span class="label label-default" style="background-color: [[label.color]];"
                                                  ng-repeat="label in item.labels track by $index">[[label.name]]</span>
                                    </p>
                                </div>
                                <div class="col-xs-3">
                                    <p><a href="[[item.assignee.html_url]]" target="_blank"><img src="[[item.assignee.avatar_url]]" ng-show="item.assignee" class="user-photo" title="[[item.assignee.login]]" alt="[[item.assignee.login]]"/></a></p>
                                    <p>
                                        <i class="fa fa-circle danger" ng-show="item.state == 'open'" title=""></i>
                                        <i class="fa fa-check-circle success" ng-show="item.state == 'closed'"></i>
                                        <a href="[[item.html_url]]" target="_blank" class="transicion" title="Ticket [[item.number]] öffnen" alt="Ticket [[item.number]] öffnen">#[[item.number]]</a>
                                    </p>
                                    <p>
                                        <span class="label label-default" ng-bind="item.hint.text"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Columns END -->

    <script type="text/ng-template" id="modalUpdateIssue.html">
        <div class="modal-header">
            <h3 class="modal-title">Issue Update</h3>
        </div>
        <div class="modal-body">
            <p></p>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="title" class="control-label col-xs-2">Title</label>

                    <div class="col-xs-9">
                        <input type="text" class="form-control" id="title"
                               ng-model="issue.title">
                    </div>
                </div>
                <div class="form-group">
                    <label for="body" class="control-label col-xs-2">Body</label>

                    <div class="col-xs-9">
                        <textarea class="form-control" id="body" ng-model="issue.body" ></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="budget-time" class="control-label col-xs-2">Budget time</label>

                    <div class="col-xs-9">
                        <input type="text" class="form-control" id="budget-time" ng-model="budgetTime" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="used-time" class="control-label col-xs-2">Used time</label>

                    <div class="col-xs-9">
                        <input type="text" class="form-control" id="used-time" ng-model="usedTime" />
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">Yes</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">No</button>
        </div>
    </script>
</div>