<div class="widget-body" ng-controller="UserCtrl" id="UserCtrl">
    <div class="row">
        <div class="col-md-12">
            <button type="button" ng-click="go('/board');" class="btn btn-default">Board</button>
            <button type="button" ng-click="go('/user');" class="btn btn-default">User</button>
        </div>
    </div>
    <div class="space-24"></div>
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading trans-background">
                    <span class="panel-header-title">Users</span>

                    <form class="form-inline">
                        <div class="form-group pull-right" style="position: relative;top: -23px;">
                            <input type="text" class="form-control" id="token" placeholder="Github Token"
                                   ng-model="github.token">
                            <button type="submit" class="btn btn-xs" ng-click="addUser(github.token)">+</button>
                        </div>
                    </form>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item cursor-pointer" ng-repeat="user in users track by $index"
                            ng-click="editUser(user)">
                            <span class="badge">[[user.repos.length]]</span>
                            <span ng-bind="user.user.login + '&nbsp;'"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-9">
            <div class="panel panel-default" ng-if="currentUser.type !== undefined" id="user-detail">
                <div class="panel-heading trans-background">
                    [[currentUser.user.login]]&nbsp;<span class="pull-right">
                    <button class="btn btn-xs no-padding" ng-click="deleteUser(currentUser)">delete</button>
                </span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-9">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="inputLogin" class="control-label col-xs-2">Login</label>

                                    <div class="col-xs-9">
                                        <input type="text" class="form-control" id="inputLogin"
                                               value="[[currentUser.user.login]]" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputName" class="control-label col-xs-2">Name</label>

                                    <div class="col-xs-9">
                                        <input type="text" class="form-control" id="inputName"
                                               value="[[currentUser.user.name]]" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail" class="control-label col-xs-2">Email</label>

                                    <div class="col-xs-9">
                                        <input type="text" class="form-control" id="inputEmail"
                                               value="[[currentUser.user.email]]" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputLastUpdate" class="control-label col-xs-2">Stand</label>

                                    <div class="col-xs-9">
                                        <input type="text" class="form-control" id="inputLastUpdate"
                                               value="[[currentUser.user.updated_at | date]]" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-2">Url</label>

                                    <div class="col-xs-9">
                                        <span class="form-control none-background"><a href="[[currentUser.user.url]]">[[currentUser.user.url]]</a></span>
                                    </div>
                                </div>
                            </form>
                            <div class="space-24"></div>
                            <div class="space-24"></div>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <img src="[[currentUser.user.avatar_url]]" class="col-xs-12 col-md-12 round-border"/>
                        </div>
                        <div class="col-xs-12 col-md-12">
                            <div class="panel-heading trans-background ng-binding">Repositories
                                ([[currentUser.repos.length]])
                            </div>
                            <div class="row">
                                <div class="col-xs-6" ng-repeat="repo in currentUser.repos track by $index">
                                    <button type="button" class="btn none-background" aria-label="Right Align">
                                        <span ng-if="isRepoWatchEnabled(repo)" class="fa fa-check-square-o"
                                              ng-click="deleteRepository(repo)"></span>
                                        <span ng-if="!isRepoWatchEnabled(repo)" class="fa fa-square-o"
                                              ng-click="addRepository(repo,currentUser)"></span>
                                    </button>
                                    [[repo.name]]
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>